html {
  height: 100%;
  width: 100%;
  font-family: 'Playfair Display', serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background:  white;
  position: relative;
}

button {
  background-color: #d77870;
  border: none;
  color: #fff;
  font-size: .8rem;
  text-decoration: none;
  border-color: #fff;
}

button:hover {
    background-color: #fff;
    color: #d77870;
    border-color: #d77870;
    border: 1px solid #d77870;
    cursor: pointer;
}

#submit-btn {
  background-color: #d77870;
  border: none;
  color: #fff;
  width: 115px;
  height: 21px;
  font-size: .8rem;
  text-decoration: none;
  border-color: #fff;
  font-family: 'Playfair Display', serif;
}

#submit-btn:hover {
  background-color: #fff;
    color: #d77870;
    border-color: #d77870;
    border: 1px solid #d77870;
    cursor: pointer;
}

#main-content {
  position: absolute;
  display: flex;
  
  flex-direction: column;
  border: 1.5px solid #d77870;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 10px 10px 17px rgba(77, 77, 77, 0.568);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
}

#list {
  margin-top: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 0px;
  border-radius: 5px;
  justify-content: left;
  list-style: none;
}

#tasks {
  list-style: none;
  list-style-position: inside;
  padding-left: 0;
}

#list li {
  font-family: 'Handlee', cursive;
  font-size: 1rem;
  font-weight: 50;
}
#check {
  cursor: pointer;
}

#check:checked ~ label {
  text-decoration: line-through;
}

i[class='fas fa-edit'] {
  margin-left: 5px;
  color: #d77870;
}

i[class='fas fa-edit']:hover {
  cursor: pointer;
  
}

label {
  pointer-events: none;
}

#edit {
  pointer-events: visible;
}

#x {
  margin-left: 5px;
}